### CMake ###
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Optional: if you use Ninja or other build tools
/build.ninja
/rules.ninja
/*.dir/

### Binaries ###
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib
*.app
*.lib
*.a

### Mac OS ###
.DS_Store

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Xcode (MacOS) ###
*.dSYM
*.dSYM/Contents
*.dSYM/Contents/Resources/DWARF
*.xcodeproj
*.xcworkspace